---
import Header from "shared/ui/header.astro";
import Footer from "shared/ui/footer.astro";

interface Props {
  title: string;
  description: string;
  type?: string;
}

const { title, description, type = 'website' } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description}>
  <meta property="og:description" content={description}>
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:locale" content="ru">
  <title>{title}</title>
  <meta property="og:title" content={title}>
  <meta property="og:type" content={type} />
</head>
<body class="flex flex-col min-h-screen h-full text-white w-full">
  <Header />
  <main class="flex-grow bg-blue-950">
    <slot />
  </main>
  <Footer />
</body>
</html>

<style is:global>
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-family: system-ui, sans-serif;
        background: #13151A;
        background-size: 224px;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
